@charset "UTF-8";
.container {
    width: 90%;
    margin-left:40px;
    margin-top: 90px;
    font-family: Arial, sans-serif;
}


.order-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.order-table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.order-list {
    margin-bottom: 30px;
}

.order-table tr:hover {
    background-color: #f1f1f1;
}

.button {
    padding: 10px 15px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.cancel-button {
    background-color: #f44336;
}

.cancel-button:hover {
    background-color: #d32f2f;
}

.download-button {
    background-color: #2196F3;
}

.download-button:hover {
    background-color: #1976D2;
}

.cancel-button[disabled] {
    background-color: #d3d3d3;
    color: #999;
    pointer-events: none;
    cursor: not-allowed;
}
